<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style=" text-align: center;">
        <h2>Formulario CRUD para alumnos</h2><br>
        <form action="alumnosAdd" method="POST">
            {% csrf_token %}

            <pre>Rut:               <input type="text" name="rut"></pre>
            <pre>Nombre:            <input type="text" name="nombre"></pre>
            <pre>Apellido P.:               <input type="text" name="paterno"></pre>
        </form>
    </div>
</body>
</html>