<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera Página</title>
</head>
<body>
    <h1>Hola Alumnos</h1>
    <br>
    {% for alumno in alumnos %}

        {{alumnos.rut}}, {{alumno.nombre}}, {{alumno.apellido_paterno}},
        {{alumno.apellido_materno}}, {{alumno.id_genero.genero}} <br>
    
    {% endfor %}
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</body>
</html>